* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.Main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

img {
    position: absolute;
    height: auto;
    width: auto;
}

button {
    position: relative;
    height: 50px;
    width: auto;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-justify: auto;
    margin-right: 50%;
    margin-top: auto;
    border-radius: 20px;
    background-color: white;
    border: 1px solid;
    border-color: white;
    box-shadow: 5px 10px;
    font-family: cursive;
    font-weight: bold;
}

button:hover {
    color: white;
    background-color: black;
}